<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">  
  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <h1 style="color: white;">Carrera Ing. en Sistemas</h1>
    
</nav>

<div id="section1" class="container-fluid bg-light text-dark" style="padding-top:50px;padding-bottom:50px">
  <div class="row">
    <div class="col">
      <br>
      <h2>Excelencia académica</h2>
      <br>
      <ul>
          <li>55 años de experiencia formando profesionales.</li>
          <li>Título reconocido a nivel internacional.</li>
          <li>66 docentes de Tiempo Completo con
            experiencia académica y profesional</li>
          <li>17 docentes de Medio Tiempo con
            experiencia académica y profesional</li>  
          <li>341 docentes de Tiempo Horario con
            experiencia académica y profesional</li>  
          <li>40 docentes con Doctorado y 190
            con Magister</li>
          <li>20.399 titulados</li>    
      </ul>
      </div>
    <div class="col">
      <br>
      <br>
      <img src="assets/ingsis1.jpg" style="width:500px;height:300px;">
    </div>
  </div>  
</div>
<div id="section2" class="container-fluid bg-dark" style="padding-top:50px;padding-bottom:50px">
  <div class="row">
    <div class="col">
      <h2 class="bl">Internacionalizacón</h2>
      <br>
      <ul>
        <li class="bl">Convenios internacionales con más de
          210 universidades prtestigiosas en
          32 países del mundo.</li>
        <li class="bl">Más de 800 estudiantes fueron
          de intercambio</li>
        <li class="bl">Más de 6 idiomas para aprender</li>
        <li class="bl">Centro de idiomas</li>
      </ul>     
    </div>
    <div class="col">
      <br>
      <img src="assets/ingsis5.jpg" alt="Hotel" style="width:700px;height:400px;">
    </div>
  </div>
  
</div>
<div id="section41" class="container-fluid bg-light text-dark" style="padding-top:20px;padding-bottom:20px">
<br> 
<h2>Infraestructura</h2>
  <div class="row">
    <div class="col">
      <br>
      <ul>
        <li>Edificio de la Facultad de Ingeniería, con 27
          laboratorios de especialización, 5 laboratorios
          de computación y 4 aulas TEAL, construidos
          bajo características similares al Instituto
          Tecnológico de Massachusetts (MIT). </li>
        <li>Nuevo Bloque de Diseño Gráfico y Diseño
          Digital</li>
        <li>Bloque de Arquitectura totalmente renovado</li>
        <li>Laboratorios y aulas completamente
          equipadas</li>
        <li>Mejor Biblioteca del país, certificada con la
          norma ISO 9001</li>
        <li>Coliseo Multifunciona</li>
        <li>Sala para talleres de Cultura y Arte</li>
        <li>Próximamente nuevo Cowork</li>
      </ul>
      
    </div>
    <div class="col">
      <img src="assets/ingsis2.jpg" alt="Hotel" style="width:700px;height:400px;">
    </div>
  </div>
</div>
<div id="section42" class="container-fluid bg-dark" style="padding-top:50px;padding-bottom:50px">
  <h2 class="bl">Innovacion y Tecnológia</h2>
  <div class="row">
    <div class="col">
        <br>
        <ul class="bl">
          <li>Ecosistema de Aprendizaje Virtual</li>
          <li>Plataformas para la educación virtual: NEO
            Learning, G-SUITE, Microsoft 365, Zoom,
            Google Meet, Microsoft Teams y CiscoWebex</li>
          <li>Simuladores, Software y laboratorios
            virtuales especializados por carreras</li>
          <li>Equipamiento tecnológico y de vanguardia
            de las mejores marcas del mundo</li>
        </ul>
      </div>
    <div class="col">
      <img src="assets/ingsis3.jpg" alt="Hotel" style="width:700px;height:400px;">
    </div>
  </div>  
</div>
<div id="section43" class="container-fluid bg-light text-dark" style="padding-top:50px;padding-bottom:50px">
  <h2>Como Profesional podrás: </h2>
  <div class="row">
    <div class="col">
      <ul>
        <li>Realizar consultorias en diversas áreas de Sistemas de Información y Tecnología Computacional</li>
        <li>Ejecutar servicios de Tecnología Aplicada</li>
        <li>Desarrollar soluciones tecnológicas</li>
        <li> Administrar centros de procesamiento de datos</li>
        <li>Desarrollar sistemas de información</li>
        <li>Desarrollar aplicaciones de IOT</li>
        <li> Gestionar la seguridad informática</li>
      </ul>
    </div>
    <div class="col">
      <img src="assets/ingsis4.jpg" alt="Hotel" style="width:700px;height:400px;">
    </div>
  </div>
</div>
<div id="section5" class="container-fluid bg-dark" style="padding-top:30px;padding-bottom:30px">
  <h2 class="bl">Mas información</h2><br>
  <ul class="bl">
    <li>Mas información sobre la universidad: <a href="https://lpz.ucb.edu.bo/" class="btn btn-outline-success">Conocer Más</a></li><br>
    <li>Mas información sobre la carrera: <a href="https://lpz.ucb.edu.bo/pregrado/ingenieria-de-sistemas/" class="btn btn-outline-success">Conocer Más</a></li>
  </ul>
</div>